$pasc-color-operations: #666;
$pasc-color-operations-dark: #333;
$pasc-color-block: #2f7adf;
$pasc-color-block-dark: darken(#2f7adf, 20);
$pasc-color-account: #1b4781;
$pasc-color-account-dark: darken(#1b4781, 10);
$pasc-color-misc: #2f3542;
